@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
:root {
    --primary-color: #011936;
    --secondary-color: #F6F7EB;
    --accent1-color: #FF8A5B;
    --accent2-color: #717C89;

    --heading-font: 'Lora', serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #011936;
    --nav-link-color: #F6F7EB;
    --nav-hover-link-color: #FF8A5B;
    --nav-hover-background-color: #717C89;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
        padding: 20px;
        background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}



